// Components
@use "component/global" as *;
@use "component/typography" as *;
@use "component/color" as *;
@use "component/button" as *;
@use "component/header" as *;
@use "component/mobile" as *;
@use "component/footer" as *;

// Pages 
@use "pages/home" as *;
@use "pages/about-us" as *;
@use "pages/service" as *;
@use "pages/service-detail" as *;
@use "pages/contact" as *;
