@use "typography" as *;
@use "color" as *;

.btn {
    min-width: 120px;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px 5px;
    border: 1px solid $color-primary;
    border-radius: 10px;

    &--primary {
        background-color: $color-primary;
        color: #fff;
        &:hover {
            background-color: $color-primary;
            color: #fff;
        }
    }

    &--secondary {
        color: $color-primary;
        &:hover {
            background-color: $color-primary;
            color: #fff;
        }
    }
}