@use "color" as *;
body {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-content {
    // padding-top: 120px;
}

.main-section{
    max-width: 1350px;
    margin: 0 auto;
}

.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading-top {
    display: block;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 26px;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-tag{
    padding-inline: 1rem;
    height: 34px;
    background-color: $color-lgold;
    color: $color-primary;
    font-weight: 600;
    font-size: 14px;
    border-radius: 50px;
    text-transform: uppercase;
    line-height: 100%;
}

p{
    font-size: 16px;
    font-weight: 500;
    font-family: 'DM sans', sans-serif;
    line-height: 150%;
    letter-spacing: 1%;

}

h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 110%;
    font-family: 'DM sans', sans-serif;
    @media (max-width: 492px) {
        font-size: 40px;
    }
}

h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 25px;
    letter-spacing: 1%;
    font-family: "DM sans", sans-serif;
    @media (max-width: 492px) {
        font-size: 38px;
    }
}

h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1%;

}

.global--form {
    background-color: #fff;
    padding: 50px 40px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    h2 {
        font-weight: 500;
        font-size: 30px;
    }
    .form-group {
        label {
            display: block;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: #000000;
        }

        .form-control {
            height: 50px;
            background: #FFFFFF;
            border: 0.5px solid rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            padding-left: 30px;
            padding-right: 30px;
        }

        textarea.form-control {
            height: 150px;
            padding-top: 10px;
        }

        .btn--primary {
            width: 100%;
            display: block;
            margin-top: 35px;
        }
    }
}


.mobile-modal{
    // display: none;
    display: flex;
    visibility: hidden;
    position: absolute;
    top: 140px;
    // height: 10rem;
    right: 1rem;
    width: 300px;
    border-radius: 10px;
    z-index: 9998;
    // background: rgba(255, 255, 255, 0.1);
    // backdrop-filter: blur(4px);
    // -webkit-backdrop-filter: blur(9px);
    // box-shadow:
    // inset 0 1px 1px rgba(255, 255, 255, 0.3), 
    // 0 4px 30px rgba(0, 0, 0, 0.2); 
    background-color: $color-primary;

    padding: 1rem 1rem;
    padding-top: 1.7rem;
    flex-direction: column;
    align-items: center;
    gap: 23px;

    transition: .2s;
    opacity: 0;
    a{
        font-size: 16px;
        color: #fff;
        font-weight: 500;
        text-decoration: none;

    }
    .mb-btns{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin-top: 10px;

        .btn-head-primary,
        .btn-head-secondary{
            border: 1px solid #fff;
            width: 100% !important;
            height: 53px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-weight: 500;
            border-radius: 10px;
            text-decoration: none;
        }
        .btn-head-primary{
            width: 160px;
            color: $color-secondary;
        }
        .btn-head-secondary{
            width: 102px;
            background-color: #fff;
            color: $color-primary;
        }
    }



}
@media (max-width: 992px) {
    .active-modal{
        transition: .2s all;
        opacity: 1;
        visibility: visible !important;
    }   
}
@media (max-width: 692px) {
    .mobile-modal{
        width: 95%;
    }   
}
@media (max-width: 592px) {
    .mobile-modal{
        top: 180px;
    }       
}
@media (max-width: 492px) {
    .mobile-modal{
        width: 95%;
        left: 50%;
        transform: translateX(-50%);
    }
}