@use "color" as *;

header {
    width: 100%;
    position: relative;
    z-index: 9999;
    .nav-banner{
        width: 100%;
        background-color: $color-primary;
        padding: 0 1rem;
        &--main{
            max-width: 1350px;
            margin: 0 auto;
            //background-color: antiquewhite;
            display: flex;
            height: 64px;
            gap: 1rem;
            justify-content: space-between;
            align-items: center;

            p{
                color: $color-secondary;
                font-size: 14px;
                font-weight: 500;
                line-height: 100%;
                margin: 0;
            }
            div{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .6rem;
                svg{
                    color: #fff;
                    &:hover{
                        color: $color-darkgold;

                    }
                }
            }
            @media (max-width: 592px) {
                height: auto;
                gap: .8rem;
                flex-direction: column;
                padding: 15px 0;

                p{
                    text-align: center;
                }
            }
        }
    }
    
    .nav-menu{
        position: absolute;
        width: 100%;
        bottom: -77px;
        left: 0;
        right: 0;
        color: #fff;
        padding: 0 1rem;
         
        &--main{
            max-width: 1350px;
            margin: 0 auto;
            height: 77px;
            // background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // display: grid;
            // grid-template-columns: 1fr 1fr 1fr;
            // justify-content: center;
            // align-items: center;

            ul{
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 28px;

                li{

                    a{
                        font-size: 16px;
                        color: #fff;
                        font-weight: 500;
                        line-height: 100%;
                        letter-spacing: 1%;
                        text-decoration: none;
                        font-family: 'DM Sans', sans-serif;
                    }
                }
            }

            .menu-btns{
                display: flex;
                gap: 10px;
                align-items: center;

                .btn-head-primary,
                .btn-head-secondary{
                    border: 1px solid #fff;
                    font-weight: 500;
                    height: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    border-radius: 10px;
                    text-decoration: none;
                }
                .btn-head-primary{
                    // min-width: 160px;
                    padding: 0 1.4rem;
                    color: $color-secondary;
                }
                .btn-head-secondary{
                    width: 102px;
                    background-color: #fff;
                    color: $color-primary;
                    font-weight: 500;
                }
            }
        }
    }
    .nav-menu-dark{
        background-color: $color-secondary !important;

        a{
            color: $color-primary !important;
        }
        .btn-head-primary,
        .btn-head-secondary{
            border: 1px solid $color-primary !important;
        }
        .btn-dark-primary{
            color: $color-primary !important;
        }
        .btn-dark-secondary{
            background-color: $color-primary !important;
            color: $color-secondary !important;
        }
    }

    .nav-mobile{
        position: absolute;
        width: 100%;
        bottom: -77px;
        left: 0;
        right: 0;
        color: #fff;
        padding: 0 1rem;
        display: none;
         
        &--main{
            max-width: 1350px;
            margin: 0 auto;
            height: 77px;
            // background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // display: grid;
            // grid-template-columns: 1fr 1fr 1fr;
            // justify-content: center;
            // align-items: center;
        }

        .hamburger-menu {
            position: relative;
            width: 30px;
            height: 20px;
            border: none;
            background: none;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0;
            transition: all 0.2s ease;
            outline: none;

            span {
                display: block;
                width: 100%;
                height: 3px;
                background: $color-darkgold;
                border-radius: 3px;
                transition: all 0.1s ease;
            }
        }


        /* When active (turns into X) */
        .hamburger-menu.active span:nth-child(1) {
        transform: translateY(8.5px) rotate(45deg);
        }

        .hamburger-menu.active span:nth-child(2) {
        opacity: 0;
        }

        .hamburger-menu.active span:nth-child(3) {
        transform: translateY(-8.5px) rotate(-45deg);
        }
    }
    .nav-mobile-dark{
        background-color: $color-secondary;
    }

    @media (max-width: 992px) {
        .nav-menu{
            display: none;
        }
        .nav-mobile{
            display: block;
        }
    }
}