@use "../component/color" as *;

.page--home{
   //padding-bottom: 130rem;
   .section{
      &--hero{
         width: 100%;
         // height: 780px;
         background-color: rgb(255, 255, 255);
         border-radius: 0 0 30px 30px;
         position: relative;
         padding-top: 15.6rem;
         padding-bottom: 4rem;
         background-image: url('../../images/home-hero-min.jpg');
         background-position: center;
         background-size: cover;
         padding-inline: 1rem;

         &__main{
            height: 100%;
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 1.1rem;


            h1{
               max-width: 650px;
               color: $color-secondary;
            }
            p{
               color: $color-secondary;
               line-height: 150% !important;
               max-width: 560px;
            }
            .hero-hm-btn{
               display: flex;
               gap: 10px;
               align-items: center;

               .btn-head-primary,
               .btn-head-secondary{
                  border: 1px solid #fff;
                  font-weight: 500;
                  height: 53px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 16px;
                  border-radius: 10px;
                  text-decoration: none;
               }
               .btn-head-primary{
                  width: 119px;
                  color: $color-secondary;
               }
               .btn-head-secondary{
                  width: 123px;
                  background-color: #fff;
                  color: $color-primary;
                  font-weight: 500;
               }
            }
            .hero-hm-collaboration{
               width: 100%;
               height: 104px;
               background: rgba(255, 255, 255, 0.1);
               backdrop-filter: blur(4px);
               -webkit-backdrop-filter: blur(9px);
               box-shadow:
               inset 0 1px 1px rgba(255, 255, 255, 0.3), 
               0 4px 30px rgba(0, 0, 0, 0.2); 
               border-radius: 20px;
               margin-top: 3rem;

               display: grid;
               grid-template-columns: repeat(6, 1fr);
               justify-content: center;
               gap: 2.5rem;
               padding-inline: 1rem;

               div{
                  // background-color: antiquewhite;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  
                  img{
                     width: 140px;
                  }
               }
               @media (max-width: 892px) {
                  grid-template-columns: repeat(5, 1fr);
                  div:nth-child(1) {
                     display: none;
                  }
               }
               @media (max-width: 792px) {
                  grid-template-columns: repeat(4, 1fr);
                  gap: 1.5rem;
                  div:nth-child(2) {
                     display: none;
                  }
               }
               @media (max-width: 692px) {
                  grid-template-columns: repeat(3, 1fr);
                  div:nth-child(3) {
                     display: none;
                  }
               }
            }
         }

         @media (max-width: 692px) {
            // height: auto;
            // padding-top: 8rem;
            padding-bottom: 2.5rem;
            border-radius: 0 0 20px 20px;
         }
         &::before{
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(
               100deg,
               #000000c0,
               #0000002b
            );
            border-radius: 0 0 30px 30px;
            @media (max-width: 692px) {
               border-radius: 0 0 20px 20px;
            }
         }
      }
      &--what-we-do{
         // height: 780px;
         max-width: 1350px;
         margin: 0 auto;
         padding: 120px 1rem;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         //background-color: antiquewhite;
         
         .hm-section-wwd-key-point{
            width: 100%;
            // height: 25rem;
            margin-top: 4.5rem;
            //background-color: aqua;
            display: flex;
            gap: 2rem;

            &__img{
               width: 50%;
            }

            &__con{
               width: 50%;
               margin-top: 3rem;
               display: flex;
               flex-direction: column;
               row-gap: 1.5rem;

               .hm-section-wwd-key-point-box{
                  display: flex;
                  align-items: flex-start;
                  gap: 1.5rem;

                  img{
                     min-width: 47px;
                     min-height: 47px;
                     margin-top: 5px;
                  }
                  &--texts{
                     p{
                        max-width: 584px;
                     }
                  }
               }
            }
            @media (max-width: 992px) {
               flex-direction: column;
               margin-top: 3rem;

               &__img{
                  width: 100%;
                  padding: 1rem;
                  img{
                     width: 100%;
                     // aspect-ratio: 1;
                  }
               }
               &__con{
                  width: 100%;
                  margin-top: 2.5rem;
                  display: flex;
                  flex-direction: column;
                  row-gap: 1.5rem;

                  .hm-section-wwd-key-point-box{
                     display: flex;
                     gap: 1.5rem;

                     &--texts{
                        p{
                           max-width: 684px;
                        }
                     }
                  }
               }
            }
         }
      }
      &--features{
         width: 100%;
         // height: 980px;
         background-color: $color-primary;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 120px 1rem;
         padding-bottom: 40px;
         position: relative;
         border-radius: 0 0 30px 30px;
         .hm-sf-details{
            position: sticky;
            top: 4.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 6rem;
            h2{
               text-align: center;
               color: $color-secondary;
            }
            .head-label{
               text-align: center;
               max-width: 840px;
               color: $color-secondary;
            }
            @media (max-width: 792px) {
               position: static;
               margin-bottom: 4rem;
            }
         }
         .hm-sf-box{
            padding: 2rem;
            max-width: 1090px;
            margin: 0 auto;
            height: 420px;
            display: flex;
            gap: 1rem;
            background-color: #242424;
            border-radius: 30px;
            margin-top: 2.4rem;
            position: sticky;
            top: 20rem;
            margin-bottom: 5rem;
            div{
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: flex-start;
               h3, p{
                  color: $color-secondary;
               }
               h3{
                  font-size: 32px !important;
                  margin-bottom: 1.7rem !important;
               }
            }
            img{
               max-width: 365px;
               aspect-ratio: 1;
            }
            @media (max-width: 792px) {
               flex-direction: column;
               height: auto;
               top: 1.5rem;
               img{
                  max-width: 100%;
               }
            }
            @media (max-width: 592px) {
               padding: 1rem;
            }
         }
         .hm-sf-box-sec{
            padding: 2rem;
            max-width: 1090px;
            margin: 0 auto;
            height: 420px;
            display: flex;
            gap: 3rem;
            background-color: $color-primary;
            border-radius: 30px;
            margin-top: 2.4rem;
            position: sticky;
            top: 20rem;
            margin-bottom: 5rem;
            div{
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: flex-start;
               h3, p{
                  color: $color-secondary;
               }
               h3{
                  font-size: 32px !important;
                  margin-bottom: 1.7rem !important;
                  max-width: 505px;
                  
               }
            }
            img{
               max-width: 365px;
               aspect-ratio: 1;
            }
            @media (max-width: 792px) {
               flex-direction: column-reverse;
               height: auto;
               top: 2rem;
               gap: 1rem;
               img{
                  max-width: 100%;
               }
            }
            @media (max-width: 592px) {
               padding: 1rem;
            }
         }
         @media (max-width: 992px) {
            border-radius: 0 0 20px 20px;
         }
      }
      &--how-it-works{
         max-width: 1350px;
         margin: 0 auto;
         // height: 780px;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 120px 1rem;
         // background-color: antiquewhite;

   
         h2{
            text-align: center;
            color: $color-primary;
         }
         .head-label{
            text-align: center;
            max-width: 840px;
            color: $color-primary;
         }
         .section--how-it-works-con{
            margin-top: 4rem;
            display: grid;
            grid-template-columns: 320px 1fr 320px;
            gap: 1.7rem;
            // background-color: #646464;

            &__img{
               display: flex;
               align-items: center;
               justify-content: center;

               img{
                  transform:scaleX(-1);

               }
               @media (max-width: 1100px) {
                  display: none;
               }
            }
            &__side{
               display: flex;
               flex-direction: column;
               gap: 3rem;

               .hp-shw-cs-box{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  h3, p{
                     text-align: center;
                     
                  }
                  h3{
                     margin-top: 1.4rem;
                     margin-bottom: 1.3rem;
                     max-width: 283px;
                     @media (max-width: 692px) {
                        max-width: 350px;
                     }
                  }
                  p{
                     max-width: 303px;
                     @media (max-width: 692px) {
                        max-width: 350px;
                     }
                  }
               }
            }
            @media (max-width: 1100px) {
               width: 100%;
               grid-template-columns: 1fr 1fr;
            }
            @media (max-width: 692px) {
               grid-template-columns: 1fr;
               justify-content: center;
            }
         }
      }
      &--testimonials{
         max-width: 1350px;
         margin: 0 auto;
         // height: 780px;
         padding: 120px 1rem;
         //background-color: antiquewhite; 
         display: flex;
         flex-direction: column;
         align-items: center;

         h3{
            margin-bottom: 5rem;
            font-size: 32px;
            font-weight: 600;
            line-height: 100%;
         }
         .testimonials-con{
            display: flex;
            gap: 2rem;
            justify-content: center;

            .testimonial-card {
               background-color: #F9F5EC;
               border-radius: 25px;
               padding: 4.5rem;
               position: relative;
               //box-shadow: 0 4px 20px rgba(0,0,0,0.05);
               overflow: hidden;
               transition: transform 0.3s ease;
               
               &--quote{
                  margin-bottom: 1.3rem;
                  width: 50px;
                  position: relative;
                  z-index: 2;
               }
               p{
                  max-width: 560px;
                  position: relative;
                  z-index: 2;
               }
               &--author{
                  margin-top: 24px;
                  display: flex;
                  align-items: center;
                  gap: 11px;
                  position: relative;
                  z-index: 2;
                  img{
                     width: 56px;
                     height: 56px;
                     object-position: center;
                     object-fit: cover;
                     border-radius: 56px;
                  }
                  div{
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                     padding-top: 3px;
                     h4{
                        font-size: 14px;
                        font-weight: 600;
                        margin: 0;
                        margin-bottom: 1px;
                        line-height: 100%;
                     }
                     span{
                        font-size: 14px;
                     }
                  }
               }
               .tvec{
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  user-select: none;
                  -webkit-user-drag: none;
               }
               @media (max-width: 692px) {
                  padding: 3rem;
               }
            }
            @media (max-width: 992px) {
               flex-direction: column;
            }
         }
         &__foo{
            margin-top: 2rem;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .btn-actions{
               display: flex;
               gap: 1.5rem;
               padding-right: 1.2rem;
               button{
                  background-color: transparent;
                  border: none;
                  outline: none;
               }
            }
         }  
      }
      &--cta{
         width: 100%;
         //height: 528px;
         background-color: #242424;
         background-image: url('../../images/cta-image.jpg');
         background-position: center;
         background-size: cover;
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 110px 1rem;
         position: relative;

         &__main{
            position: relative;
            z-index: 2;
            width: 1090px;
            height: 304px;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(9px);
            -webkit-backdrop-filter: blur(9px);
            box-shadow:
            inset 0 1px 1px rgba(255, 255, 255, 0.3), 
            0 4px 30px rgba(0, 0, 0, 0.2); 
            border-radius: 30px;
            padding: 32px 64px;

            .hm-scta-detail{
               display: flex;
               align-items: center;
               justify-content: space-between;
               gap: 1rem;
               border: 0;
               border-bottom: 1px solid #ffffff78;
               
               border-style: dashed;

               .hm-scta-detail-txt{

                  h3{
                     color: #fff;
                     max-width: 615px;
                     font-size: 32px;
                  }
                  p{
                     color: #fff;
                     max-width: 615px;
                     font-size: 20px !important;
                     line-height: 130%;
                  }
               }
               &--btn-cta{
                  min-width: 118px;
                  padding: 5px 1rem;
                  height: 53px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 10px;
                  background-color: #fff;
                  color: $color-primary;
                  text-decoration: none;
                  font-size: 20px;
                  font-weight: 500;
               }
               @media (max-width: 992px) {
                  flex-direction: column;
                  padding-bottom: 1rem;
                  gap: .3rem;
                  .hm-scta-detail-txt{
                     width: 100%;
                     
                     h3{
                        color: #fff;
                        max-width: 615px;
                        font-size: 32px;
                     }
                     p{
                        color: #fff;
                        max-width: 615px;
                        font-size: 20px !important;
                        line-height: 130%;
                     }
                  }
                  &--btn-cta{
                     min-width: 100% !important;
                  }
               }
            }
            .hm-scta-testimonial{
               display: flex;
               gap: 1rem;
               margin-top: 1rem;
               &--img{
                  min-width: 65px;
                  
                  img{
                     width: 64px;
                     height: 64px;
                     object-position: center;
                     object-fit: cover;
                     border-radius: 56px;
                  }
               }

               &--txt{
                  
                  h4{
                     font-size: 14px;
                     font-weight: 600;
                     letter-spacing: 4%;
                     text-transform: uppercase;
                     line-height: 100%;
                     margin: 0;
                     color: #fff;
                     margin-bottom: 6px;
                  }
                  p{
                     font-size: 13px;
                     max-width: 463px;
                     line-height: 110%;
                     font-weight: 500;
                     color: #fff;
                     font-family: "DM sans", sans-serif;
                  }
               }
            }

            @media (max-width: 992px) {
               height: auto;
            }
            @media (max-width: 592px) {
               padding: 22px 44px;
            }
            @media (max-width: 492px) {
               padding: 22px 34px;
            }
         }

         &::before{
            content: '';
            position: absolute;
            inset: 0;
            background-color: hsla(0, 0%, 0%, 0.2);
         }
      }
   }
}