@use "../component/color" as *;

.page--legal{
   .section{
      &--hero{
         width: 100%;
         background-color: #F9F5EC;
         position: relative;
         &__main{
            max-width: 1350px;
            height: 365px;
            margin: 0 auto;
            position: relative;
            display: flex;
            gap: 2rem;
            overflow: hidden;
            z-index: 2;
            .img-hero-plegal{
               position: absolute;
               left: -1.3rem;
               bottom: 0;
               max-width: 500px;
            }
            .blck{
               min-width: 450px;
               @media (max-width: 992px) {
                  display: none;
               }
            }
            div{
               display: flex;
               flex-direction: column;
               justify-content: center;
               padding: 122px 1rem;

               h1, p{
                  max-width: 760px;
               }
               h1{
                  margin-top: 5rem;
                  @media (max-width: 492px) {
                     font-size: 40px;
                  }
               }
            }
            @media (max-width: 992px) {
               .img-hero-plegal{
                  position: static;
               }
               div{
                  padding-bottom: 10px;
                  h1, p{
                     text-align: center;
                  }
                  h1{
                     margin-bottom: 1.3rem;
                  }
               }
               height: auto;
               flex-direction: column-reverse;
               align-items: center;
            }
            @media (max-width: 522px) {
               .img-hero-plegal{
                  width: 100%;
               }
            }

         }
         .legal-vec{
            position: absolute;
            left: -1rem;
            
            bottom: 0;
         }
      }
      &--content{
         max-width: 1350px;
         margin: 0 auto;
         // height: 40rem;
         // background-color: #F9F5EC;
         padding: 112px 1rem;
         display: flex;
         gap: 80px;

         &--side{
            width: 320px;
            display: flex;
            flex-direction: column;
            gap: 12px;

            
            button{
               width: 320px;
               padding: 12px 16px;
               padding-right: 2rem;
               text-align: start;
               border-radius: 12px;
               font-weight: 600;
               font-size: 16px;
               background-color: transparent;
            }
            .active-legal{
               background-color: #F9F5EC !important;
            }
            @media (max-width: 992px) {
               width: 100%;
               button{
                  width: 100%;
               }
            }
         }
         &--main-con{
            width: 100%;
            // height: 70rem;
            //background-color: antiquewhite;

            .legal-sub-title{
               text-transform: uppercase;
               color: #979797;
               font-size: 14px;
               letter-spacing: 4%;
               font-weight: 600;
               margin-bottom: 24px;

            }
            h2{
               margin-bottom: 14px;
               color: #000;
            }
            p{
               margin-bottom: 14px;
               color: #000;
            }
            ul{
               
               li{
                  list-style: disc;
                  margin-left: 1.2rem;
                  color: #000;
               }
            }
            h4{
               font-size: 24px;
               font-weight: 500;
               line-height: 100%;
               margin-bottom: 14px;
               color: #000;
            }
            h3{
               font-size: 32px;
               font-weight: 600;
               color: #000;
            }
         }
         @media (max-width: 992px) {
            flex-direction: column;

         }
      }
   }
}