@use "../component/color" as *;

.page--service{
   .section{
      &--hero{
         width: 100%;
         background-color: #F9F5EC;
         position: relative;
         &__main{
            max-width: 1350px;
            height: 435px;
            margin: 0 auto;
            position: relative;
            display: flex;
            gap: 2rem;
            overflow: hidden;
            z-index: 2;
            .img-hero-pserv{
               position: absolute;
               left: -1.3rem;
               bottom: 0;
               max-width: 500px;
            }
            .blck{
               min-width: 450px;
               @media (max-width: 992px) {
                  display: none;
               }
            }
            div{
               display: flex;
               flex-direction: column;
               justify-content: center;
               padding: 122px 1rem;

               h1, p{
                  max-width: 760px;
               }
               h1{
                  margin-top: 5rem;
                  @media (max-width: 492px) {
                     font-size: 40px;
                  }
               }
            }
            @media (max-width: 992px) {
               .img-hero-pserv{
                  position: static;
               }
               div{
                  padding-bottom: 10px;
                  h1, p{
                     text-align: center;
                  }
                  h1{
                     margin-bottom: 1.3rem;
                  }
               }
               height: auto;
               flex-direction: column-reverse;
               align-items: center;
            }
            @media (max-width: 522px) {
               .img-hero-pserv{
                  width: 100%;
               }
            }

         }
         .serv-vec{
            position: absolute;
            left: -1rem;
            
            bottom: 0;
         }
      }
      &--services-list{
         max-width: 1350px;
         margin: 0 auto;
         // height: 50rem;
         background-color: #ffffff;
         padding: 112px 1rem;

         &__header{
            max-width: 610px;
         }
         &__label{
            max-width: 760px;
         }
         .ps-ss-lb-con{
            width: 100%;
            //background-color: #242424;
            gap: 48px;
            margin-top: 4rem;
            justify-content: space-between;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            &--box{
               padding: 32px 24px;
               // max-width: 400px;
               background-color: #F9F5EC;
               border-radius: 20px;
               // height: fit-content;
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               color: $color-primary;
               text-decoration: none;
               img{
                  border-radius: 20px;
                  width: 100%;
                  max-width: 350px;
               }
            }
            @media (max-width: 992px) {
               grid-template-columns: 1fr 1fr;
            }
            @media (max-width: 692px) {
               grid-template-columns: 1fr;
               gap: 20px;

               &--box{
                  img{
                     max-width: 692px;
                  }
               }
            }
         }

      }
      &--sub{
         width: 100%;
         padding: 112px 1rem;
         background-color: $color-primary;
         display: flex;
         flex-direction: column;
         align-items: center;
         h2{
            text-align: center;
            margin-bottom: 1.4rem;
            background: linear-gradient(180deg, #FFFFFF, #EECD5C);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
         }
         p{
            max-width: 750px;
            color: #fff;
            text-align: center;
         }
      }
      &--tools{
         max-width: 1350px;
         margin: 0 auto;
         padding: 112px 1rem;
         display: flex;
         flex-direction: column;
         align-items: center;

         h2{
            text-align: center;
            max-width: 550px;
         }
         &__label{
            max-width: 550px;
            text-align: center;
         }
         &__navigations{
            background-color: #E2E2E2;
            border-radius: 12px;
            padding: 7px;
            margin-top: 2.3rem;
            user-select: none;
            button{
               background-color: transparent;
               outline: none;
               
               font-size: 18px;
               line-height: 100%;
               font-weight: 500;
               padding: 10px 16px;
               border-radius: 10px;
               user-select: none;
            }
            .active-tool{
               background-color: #F9F5EC !important;
            }

         }
         &__prev{
            background-color: #F9F5EC;
            border-radius: 20px;
            padding: 24px;
            display: flex;
            gap: 80px;
            margin-top: 64px;

            &--detail{
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               justify-content: center;

               h3{
                  max-width: 645px;
                  font-weight: 600;
                  font-size: 32px !important;
                  margin-bottom: 20px;
               }
               p{
                  max-width: 615px;
               }
            }
            &--image{
               img{
                  height: 510px;
                  width: 568px;
                  object-fit: cover;
                  object-position: center;
                  border-radius: 20px;

                  @media (max-width: 1300px) {
                     width: 43vw;
                     height: auto;
                     aspect-ratio: 1;
                  }
                  @media (max-width: 992px) {
                     width: 100%;
                  }
               }
            }
            @media (max-width: 992px) {
               flex-direction: column;
               gap: 50px;
            }  
         }
      }


      &--cta{
         width: 100%;
         //height: 528px;
         background-color: #242424;
         background-image: url('../../images/cta-image.jpg');
         background-position: center;
         background-size: cover;
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 110px 1rem;
         position: relative;

         &__main{
            position: relative;
            z-index: 2;
            width: 1090px;
            height: 304px;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(9px);
            -webkit-backdrop-filter: blur(9px);
            box-shadow:
            inset 0 1px 1px rgba(255, 255, 255, 0.3), 
            0 4px 30px rgba(0, 0, 0, 0.2); 
            border-radius: 30px;
            padding: 32px 64px;

            .hm-scta-detail{
               display: flex;
               align-items: center;
               justify-content: space-between;
               gap: 1rem;
               border: 0;
               border-bottom: 1px solid #ffffff78;
               
               border-style: dashed;

               .hm-scta-detail-txt{

                  h3{
                     color: #fff;
                     max-width: 615px;
                     font-size: 32px;
                  }
                  p{
                     color: #fff;
                     max-width: 615px;
                     font-size: 20px !important;
                     line-height: 130%;
                  }
               }
               &--btn-cta{
                  min-width: 118px;
                  padding: 5px 1rem;
                  height: 53px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 10px;
                  background-color: #fff;
                  color: $color-primary;
                  text-decoration: none;
                  font-size: 20px;
                  font-weight: 500;
               }
               @media (max-width: 992px) {
                  flex-direction: column;
                  padding-bottom: 1rem;
                  gap: .3rem;
                  .hm-scta-detail-txt{
                     width: 100%;
                     
                     h3{
                        color: #fff;
                        max-width: 615px;
                        font-size: 32px;
                     }
                     p{
                        color: #fff;
                        max-width: 615px;
                        font-size: 20px !important;
                        line-height: 130%;
                     }
                  }
                  &--btn-cta{
                     min-width: 100% !important;
                  }
               }
            }
            .hm-scta-testimonial{
               display: flex;
               gap: 1rem;
               margin-top: 1rem;
               &--img{
                  min-width: 65px;
                  
                  img{
                     width: 64px;
                     height: 64px;
                     object-position: center;
                     object-fit: cover;
                     border-radius: 56px;
                  }
               }

               &--txt{
                  
                  h4{
                     font-size: 14px;
                     font-weight: 600;
                     letter-spacing: 4%;
                     text-transform: uppercase;
                     line-height: 100%;
                     margin: 0;
                     color: #fff;
                     margin-bottom: 6px;
                  }
                  p{
                     font-size: 13px;
                     max-width: 463px;
                     line-height: 110%;
                     font-weight: 500;
                     color: #fff;
                     font-family: "DM sans", sans-serif;
                  }
               }
            }

            @media (max-width: 992px) {
               height: auto;
            }
            @media (max-width: 592px) {
               padding: 22px 44px;
            }
            @media (max-width: 492px) {
               padding: 22px 34px;
            }
         }

         &::before{
            content: '';
            position: absolute;
            inset: 0;
            background-color: hsla(0, 0%, 0%, 0.2);
         }
      }
   }
}
