@use "../component/color" as *;

.page--servloc-detail{
   .section{
      &--hero{
         width: 100%;
         background-color: #F9F5EC;
         position: relative;
         &__main{
            max-width: 1350px;
            height: 365px;
            margin: 0 auto;
            position: relative;
            display: flex;
            gap: 2rem;
            overflow: hidden;
            z-index: 2;
            .img-hero-plegal{
               position: absolute;
               left: -1.3rem;
               bottom: 0;
               max-width: 500px;
            }
            .blck{
               min-width: 450px;
               @media (max-width: 992px) {
                  display: none;
               }
            }
            div{
               display: flex;
               flex-direction: column;
               justify-content: center;
               padding: 122px 1rem;

               h1, p{
                  max-width: 760px;
               }
               h1{
                  margin-top: 5rem;
                  @media (max-width: 492px) {
                     font-size: 40px;
                  }
               }
            }
            @media (max-width: 992px) {
               .img-hero-plegal{
                  position: static;
               }
               div{
                  padding-bottom: 10px;
                  h1, p{
                     text-align: center;
                  }
                  h1{
                     margin-bottom: 1.3rem;
                  }
               }
               height: auto;
               flex-direction: column-reverse;
               align-items: center;
            }
            @media (max-width: 522px) {
               .img-hero-plegal{
                  width: 100%;
               }
            }

         }
         .legal-vec{
            position: absolute;
            left: -1rem;
            
            bottom: 0;
         }
      }
      &--content{
         max-width: 1350px;
         margin: 0 auto;
         padding: 112px 1rem;
         display: flex;
         gap: 80px;
         justify-content: space-between;
         align-items: center;

         &__img{
            max-height: 466px;
            img{  
               width: 505px;
               
               border-radius: 20px;
            }
         }
         &__detail{
            h2{
               color: #000;
               max-width: 720px;
            }
            p{
               color: #000;
               max-width: 720px;
            }
            .servdet-info-con{
               display: flex;
               gap: 1rem;

               &__box{
                  p{
                     color: #000;
                     max-width: 360px;
                  }
                  h3{
                     color: #000;
                     font-size: 40px;
                     font-weight: 600;
                  }
               }
               @media (max-width: 592px) {
                  margin-top: 1rem;
                  flex-direction: column;
               }
            }
         }
         @media (max-width: 992px) {
            flex-direction: column;
            gap: 50px;
         }
      }
      &--advantage{
         max-width: 1350px;
         margin: 0 auto;
         // height: 780px;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 120px 1rem;
         // background-color: antiquewhite;

   
         h2{
            text-align: center;
            color: $color-primary;
         }
         .head-label{
            text-align: center;
            max-width: 840px;
            color: $color-primary;
         }
         .section--advantage-con{
            margin-top: 4rem;
            display: grid;
            grid-template-columns: 320px 1fr 320px;
            gap: 1.7rem;
            // background-color: #646464;

            &__img{
               display: flex;
               align-items: center;
               justify-content: center;

               img{
                  transform:scaleX(1);

               }
               @media (max-width: 1100px) {
                  display: none;
               }
            }
            &__side{
               display: flex;
               flex-direction: column;
               gap: 3rem;

               .hp-shw-cs-box{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  h3, p{
                     text-align: center;
                     
                  }
                  h3{
                     margin-top: 1.4rem;
                     margin-bottom: 1.3rem;
                     max-width: 283px;
                     @media (max-width: 692px) {
                        max-width: 350px;
                     }
                  }
                  p{
                     max-width: 303px;
                     @media (max-width: 692px) {
                        max-width: 350px;
                     }
                  }
               }
            }
            @media (max-width: 1100px) {
               width: 100%;
               grid-template-columns: 1fr 1fr;
            }
            @media (max-width: 692px) {
               grid-template-columns: 1fr;
               justify-content: center;
            }
         }
      }
      &--testimonial{
         width: 100%;
         padding: 112px 1rem;
         position: relative;

         .pabt-st-main{
            height: 239px;
            margin: 0 auto;
            //background-color: #242424;
            display: flex;
            flex-direction: column;
            align-items: center;

            &--stars{
               display: flex;
               margin-bottom: 32px;
               gap: 1px;
            }
            &--quote{
               max-width: 790px !important;
               text-align: center;
               font-size: 24px;
               font-weight: 500;
            }
            &--testi{
               display: flex;
               gap: 1.2rem;
               margin-top: 18px;
               img{
                  width: 54px;
                  height: 54px;
                  border-radius: 60px;
                  object-fit: cover;
                  object-position: center;
               }
               &__txt{
                  p, span{
                     margin: 0;
                     font-weight: 500;
                     font-size: 14px;
                     color: $color-primary;
                  
                  }
               }

            }
         }
         @media (max-width: 592px) {
            .pabt-st-main{
               height: auto !important;
            }
         }
         &__vector{
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
         }
      }
   }
}